:host ::ng-deep .mat-sort-header-container {
    display: flex;
    justify-content: center;
  }
  table {
    width: 100%;
    text-align: center;
  }
  .highlight {
    color: #bb86fc ;
  }
  .modal-lg {
    max-width: 900px;
  }
  @media (min-width: 768px) {
     .modal-lg {
      width: 100%;
    } 
  }
  @media (min-width: 992px) {
    .modal-lg {
      width: 900px;
    }
  }
  